annotated-doc
annotated-types
anyio
appnope
asttokens
attrs
audioop-lts
brotli
certifi
charset-normalizer
click
comm
debugpy
decorator
einops
executing
fastapi
filelock
filetype
fsspec
gradio-client
groovy
grpcio
h11
h2
hf-gradio
hf-xet
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
iniconfig
ipykernel
ipython
ipython-pygments-lexers
jedi
jinja2
joblib
jsonlines
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
loguru
markdown-it-py
markupsafe
matplotlib-inline
mdurl
mpmath
nest-asyncio
networkx
nodeenv
nomic
numpy
orjson
packaging
pandas
parso
pexpect
pillow
platformdirs
pluggy
portalocker
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pydantic
pydantic-core
pydub
pygments
pyjwt
pyright
pytest
python-dateutil
python-dotenv
python-multipart
pytz
pyyaml
pyzmq
qdrant-client
referencing
regex
requests
rich
rpds-py
ruff
safehttpx
safetensors
scikit-learn
scipy
semantic-version
sentence-transformers
setuptools
shellingham
six
stack-data
starlette
sympy
threadpoolctl
tokenizers
tomlkit
torch
tornado
tqdm
traitlets
transformers
typer
typing-extensions
typing-inspection
urllib3
uvicorn
wcwidth
